body {
  background-color: #ff812e;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}
header .img-logo {
  width: 300px;
  height: 150px;
}
header ul {
  display: flex;
  align-items: center;
}
header ul li {
  margin-right: 30px;
}
/* header .imagem-tema {
    width: 25px;
    transition: a.2s ease-in-out;
  }
  header .imagem-tema:hover {
    transform: scale(1.05);
    cursor: pointer;
  } */
li .personagens,
li .sagas {
  color: black;
  transition: all 0.3s;
  background-color: #ffa66b;
  padding: 8px;
  border: 1px solid;
  border-radius: 20px;
}
li .personagens:hover,
li .sagas:hover {
  font-size: 20px;
}
.principal-da-obra {
  background-color: #ffa66b;
  margin: 20px;
  border: 2px solid;
  border-radius: 10px;
}
main .titulo {
  text-align: center;
  font-size: 50px;
  margin: 20px;
}
main .imagem-temporada {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
main div img {
  border-radius: 10px;
  border: 1px solid;
  max-width: 100%;
  height: auto;
  width: 50%;
}
main .descricao-obra {
  text-align: justify;
  font-size: 20px;
  margin: 40px;
}
main .sagas-da-temporada {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}
main ol .listagem-das-sagas {
  font-size: 20px;
  margin: 40px;
  text-align: justify;
}
main li .nome-da-saga {
  font-size: 25px;
  font-weight: bold;
  transition: all 0.3s;
}
main li .nome-da-saga:hover {
    font-size: 30px;
}
main li .resumo {
    margin: 20px;
}